* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  --side-padding: 12px;
  --avatar-size: 36px;
  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}
body {
  font-family: Roboto;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: var(--side-padding);
}
header .logo {
  font-size: var(--font-large);
}
header .logo i {
  color: var(--red-color);
}
header .icons .fa-search {
  margin-right: var(--side-padding);
}
.Youtube__player {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  background-color: var(--black-color);
}
.Youtube__player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}
.Youtube__info {
  padding: var(--side-padding);
}
.Youtube__info .metadata .hashtags {
  display: flex;
}
.Youtube__info .metadata .hashtags li {
  margin-right: 10px;
  font-size: var(--font-small);
}
.Youtube__info .titlebox {
  display: flex;
}
.Youtube__info .titlebox.title {
  margin-right: var(--side-padding);
  font-size: var(--font-medium);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.Youtube__info .titlebox .moreBtn {
  height: 100%;
}
button,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
}
.metadata .views {
  color: var(--grey-dark-color);
  font-size: var(--font-small);
}
.Youtube__info .action {
  display: flex;
  justify-content: space-around;
  margin: var(--side-padding) 0;
}

.Youtube__info .action button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
.Youtube__info .action button i {
  margin: 0 auto;
  margin-bottom: var(--side-padding);
  font-size: 16px;
}
.action button i.active {
  color: var(--blue-color);
}
.channel {
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
  display: flex;
  justify-content: space-between;
}
.channel .metadata {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.channel .metadata .info {
  display: flex;
  flex-direction: column;
}
.channel .metadata img {
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 50%;
}
.channel .metadata .info .name {
  font-size: var(--font-medium);
}
.channel .metadata .info .subscribers {
  font-size: var(--font-small);
}
.channel .subscribe {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}
.Youtube__upNext {
  padding: 0 var(--side-padding);
}
.Youtube__upNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: calc(var(--side-padding) / 2);
}
